.box3 {
  box-shadow: 0 0 8px;
  position: relative;
  height: '90px';
  width: '70px';
  border-radius: 10px;
  transition: 50s;
}
.box3:hover {
  width: 150px;
  background: 'white';
}

.input1 {
  background-color: #212121;
  max-width: 190px;
  height: 30px;
  padding: 10px;
  /* text-align: center; */
  border: 2px solid white;
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input1:focus {
  color: rgb(1, 14, 14);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: 0.1s;
  transition-property: box-shadow;
}
