.modalBackground4 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  position: fixed;
  display: flex;
  justify-content: center;
  margin-left: 0%;
  margin-bottom: 20%;
  align-items: center;
}

.modalContainer4 {
  width: 960px;
  height: 410px;
  border-radius: 12px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-left: -24%;
  margin-top: -20%;
}

.modalContainer4 .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn4 {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn4 button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer4 .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer4 .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer4 .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn4 {
  background-color: crimson;
}

a {
  overflow: hidden;
  background-color: #2196f3;
}

a:hover {
  background-color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3, 0 0 40px #2196f3,
    0 0 80px #2196f3;
}

/* From uiverse.io */
