.App {
  text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
html,
body {
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainbox {
  position: 'relative';
  width: '200px';
  height: '250px';
  background: 'green';
}

.card {
  position: 'absolute';
  width: '100%';
  height: '100%';
  background: 'yellow';

  transform-style: 'preserve-3d';
  transition: 'all 0.5s ease';
}

.front {
  position: 'absolute';
  width: '100%';
  height: '100%';
  background: 'red';

  backface-visibility: 'hidden';
}

.back {
  position: 'absolute';
  width: '100%';
  height: '100%';
  background: 'white';

  backface-visibility: 'hidden';
  transform: 'rotateY(180deg)';
}

.trivia-card {
  --flip-card-height: 340px;
  --flip-card-width: 350px;
  --flip-card-transition-duration: 800ms;
  --flip-card-border-radius: 4px;
  --flip-card-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  --flip-card-background-color-front: none;
  --flip-card-background-color-back: #faf6ff;
  --flip-card-transition-timing-function: ease;
}
